#icon i {
    margin-right: 40px;
}

.nav-item a {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;

}



.nav-item a:hover,
.nav-item a:focus {
    background-color: chartreuse;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 50px;
    object-fit: cover;
}

.cover-img {
    width: 100%;
    height: 440px;
    border-radius: 200%;
    object-fit: cover;
   
}

.card-body {
    padding: 1rem;
}

  